.new-subject-popup {
  width: 60%;
  height: 50%;
  position: absolute;
  border: 2px solid gray;
  left: 50%;
  margin-left: -30%;
  background-color: #fff;
  z-index: 1;
}
.create-subject{
  display: flex;
  margin-top: 3%;
  justify-content: center;

}
.add-subject{
  margin-left: 2%;
  margin-top: 2%;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}
.add-subject:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.add-subject:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


.list{
  display: block;
  justify-content: flex-start;
}
.teacher{
  margin-left: 5%;
}
.rating{
  margin-left: 5%;
}
.edit{
  margin-left: 5%;
}
