.add-details{
    margin-left: 2%;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}
.add-details:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.add-details:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

.new-details-popup{
    display: grid;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: 5%;
}
.details-popup{
    display: flex;
    justify-content: space-evenly;

}
.create-details-form{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1%;
}
.create-details{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
}
